body{
    background-color: #744D90;
    color: #FFD53C;
}
p{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    font-size: 3em;
    padding: 25px;
    border-bottom: 5px solid #BB8CDD;
    border-radius: 8px;

}
span{
    font-family: monospace;
    font-size: 1.3em;;
    color: #F0F0F0;
    font-weight: 800;
}
button{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid #BB8CDD;
    border-radius: 100%;
    display: block;
    font-size: 1.2em;;
    padding: 25px;
    font-weight: 700;
    color: #314E59;
}
button:hover{
  border: 2px solid yellow;
}
